In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("london_merged.csv")

In [3]:
data

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
5,2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,1.0,0.0,1.0,3.0
6,2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
7,2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
8,2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,4.0,0.0,1.0,3.0
9,2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,3.0,0.0,1.0,3.0
10,2015-01-04 10:00:00,528,3.0,-0.5,93.0,12.0,3.0,0.0,1.0,3.0
11,2015-01-04 11:00:00,727,2.0,-1.5,100.0,12.0,3.0,0.0,1.0,3.0
12,2015-01-04 12:00:00,862,2.0,-1.5,96.5,13.0,4.0,0.0,1.0,3.0
13,2015-01-04 13:00:00,916,3.0,-0.5,87.0,15.0,3.0,0.0,1.0,3.0
14,2015-01-04 14:00:00,1039,2.5,0.0,90.0,8.0,3.0,0.0,1.0,3.0
15,2015-01-04 15:00:00,869,2.0,-1.5,93.0,11.0,3.0,0.0,1.0,3.0
16,2015-01-04 16:00:00,737,3.0,0.0,93.0,12.0,3.0,0.0,1.0,3.0
17,2015-01-04 17:00:00,594,3.0,0.0,93.0,11.0,3.0,0.0,1.0,3.0
18,2015-01-04 18:00:00,522,3.0,1.5,93.0,6.5,3.0,0.0,1.0,3.0
19,2015-01-04 19:00:00,379,3.0,1.0,93.0,7.0,3.0,0.0,1.0,3.0
20,2015-01-04 20:00:00,328,3.0,3.0,93.0,4.0,3.0,0.0,1.0,3.0
21,2015-01-04 21:00:00,221,3.0,2.5,93.0,5.0,4.0,0.0,1.0,3.0
22,2015-01-04 22:00:00,178,3.0,2.0,93.0,6.0,4.0,0.0,1.0,3.0
23,2015-01-04 23:00:00,157,4.0,3.5,87.0,5.0,4.0,0.0,1.0,3.0
24,2015-01-05 00:00:00,83,4.0,3.0,93.0,6.0,4.0,0.0,0.0,3.0
25,2015-01-05 01:00:00,67,4.0,3.5,93.0,5.0,4.0,0.0,0.0,3.0
26,2015-01-05 02:00:00,32,5.0,4.0,87.0,6.0,4.0,0.0,0.0,3.0
27,2015-01-05 03:00:00,22,6.0,4.5,84.0,7.5,4.0,0.0,0.0,3.0
28,2015-01-05 04:00:00,38,6.5,5.0,84.0,8.0,4.0,0.0,0.0,3.0
29,2015-01-05 05:00:00,81,6.0,5.5,87.0,5.0,4.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17384,2017-01-02 18:00:00,594,3.0,0.0,84.0,9.0,1.0,1.0,0.0,3.0
17385,2017-01-02 19:00:00,433,3.0,0.0,81.0,11.0,1.0,1.0,0.0,3.0
17386,2017-01-02 20:00:00,334,3.0,0.0,75.0,13.0,1.0,1.0,0.0,3.0
17387,2017-01-02 21:00:00,233,2.5,-0.5,78.0,11.0,1.0,1.0,0.0,3.0
17388,2017-01-02 22:00:00,201,2.0,-1.0,81.0,10.0,1.0,1.0,0.0,3.0
17389,2017-01-02 23:00:00,145,1.0,-2.0,93.0,10.0,1.0,1.0,0.0,3.0
17390,2017-01-03 00:00:00,63,1.0,-2.0,90.0,11.0,1.0,0.0,0.0,3.0
17391,2017-01-03 01:00:00,49,1.0,-2.0,87.0,10.0,1.0,0.0,0.0,3.0
17392,2017-01-03 02:00:00,43,0.5,-3.0,90.0,11.0,1.0,0.0,0.0,3.0
17393,2017-01-03 03:00:00,10,0.0,-4.0,93.0,13.0,1.0,0.0,0.0,3.0
17394,2017-01-03 04:00:00,30,0.0,-4.0,93.0,14.0,1.0,0.0,0.0,3.0
17395,2017-01-03 05:00:00,83,0.5,-3.5,90.0,14.0,3.0,0.0,0.0,3.0
17396,2017-01-03 06:00:00,434,1.0,-3.5,87.0,18.0,1.0,0.0,0.0,3.0
17397,2017-01-03 07:00:00,1407,1.0,-4.0,87.0,19.0,1.0,0.0,0.0,3.0
17398,2017-01-03 08:00:00,2904,1.0,-3.5,87.0,18.5,3.0,0.0,0.0,3.0
17399,2017-01-03 09:00:00,1357,2.5,-1.5,81.0,14.0,1.0,0.0,0.0,3.0
17400,2017-01-03 10:00:00,661,3.0,-2.0,81.0,20.0,1.0,0.0,0.0,3.0
17401,2017-01-03 11:00:00,636,4.0,0.0,78.0,21.0,1.0,0.0,0.0,3.0
17402,2017-01-03 12:00:00,825,5.0,1.0,76.0,21.0,3.0,0.0,0.0,3.0
17403,2017-01-03 13:00:00,878,6.0,2.0,71.0,23.0,4.0,0.0,0.0,3.0
17404,2017-01-03 14:00:00,765,6.0,2.0,73.5,22.0,3.0,0.0,0.0,3.0
17405,2017-01-03 15:00:00,845,6.0,2.0,71.0,27.0,4.0,0.0,0.0,3.0
17406,2017-01-03 16:00:00,1201,6.0,2.0,71.0,26.0,4.0,0.0,0.0,3.0
17407,2017-01-03 17:00:00,2742,6.0,2.0,73.5,21.0,3.0,0.0,0.0,3.0
17408,2017-01-03 18:00:00,2220,5.0,1.0,81.0,22.0,2.0,0.0,0.0,3.0
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [4]:
data.nunique()

timestamp       17414
cnt              3781
t1                 73
t2                 82
hum               143
wind_speed        103
weather_code        7
is_holiday          2
is_weekend          2
season              4
dtype: int64

In [5]:
data.describe()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
count,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000
mean,1143.101642,12.468091,11.520836,72.324954,15.913063,2.722752,0.022051,0.285403,1.492075
std,1085.108068,5.571818,6.615145,14.313186,7.894570,2.341163,0.146854,0.451619,1.118911
min,0.000000,-1.500000,-6.000000,20.500000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,257.000000,8.000000,6.000000,63.000000,10.000000,1.000000,0.000000,0.000000,0.000000
50%,844.000000,12.500000,12.500000,74.500000,15.000000,2.000000,0.000000,0.000000,1.000000
75%,1671.750000,16.000000,16.000000,83.000000,20.500000,3.000000,0.000000,1.000000,2.000000
max,7860.000000,34.000000,34.000000,100.000000,56.500000,26.000000,1.000000,1.000000,3.000000

In [6]:
my_col_names_dict = {
    "timestamp": "time",
    "cnt": "count",
    "t1": "temp_real_C",
    "t2": "temp_feels_like_C",
    "hum": "humidity_percentage",
    "windspeed": "windspeed_kph",
    "weather_code": "weather",
    "is_holiday": "is_holiday",
    "is_weekend": "is_weekend",
    "season": "season"
}

# Renaming columns
data.rename(my_col_names_dict, axis=1, inplace=True)

In [7]:
data.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [8]:
data.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [9]:
data.humidity_percentage = data.humidity_percentage / 100

season_dict = {
    "0.0": "spring",
    "1.0": "summer",
    "2.0": "autumn",
    "3.0": "winter"
}

weather_dict = {
    "1.0": "Clear",
    "2.0": "Scattered clouds",
    "3.0": "Broken clouds",
    "4.0": "Cloudy",
    "7.0": "Rain",
    "10.0": "Rain with thunderclouds",
    "26.0": "Snowfall"
}

data.season = data.season.astype("str")
data.weather = data.weather.astype("str")

data.season = data.season.map(season_dict)
data.weather = data.weather.map(weather_dict)

In [10]:
data.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [12]:
boolean_dict = {
    "1.0": "True",
    "0.0": "False"
}

data.is_holiday = data.is_holiday.astype("str")
data.is_weekend = data.is_weekend. astype("str")

data.is_holiday = data.is_holiday.map(boolean_dict)
data.is_weekend = data.is_weekend.map(boolean_dict)

In [13]:
data.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,False,True,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,False,True,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,False,True,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,False,True,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,False,True,winter

In [14]:
# Export cleaned up data to an excel file
data.to_excel("london_bikes_final.xlsx", sheet_name="Data")